* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.form__input {
  width: 100% !important; }

h1 {
  font-size: 6rem !important;
  font-weight: 700; }

h2 {
  font-size: 5rem !important;
  font-weight: 900; }

h3 {
  font-size: 4rem !important;
  font-weight: 300; }

h4 {
  font-size: 3rem !important;
  font-weight: 400; }

h5 {
  font-size: 1.5rem !important;
  font-weight: 300; }

h6 {
  font-size: 1.25rem !important;
  font-weight: 100; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(rgba(255, 255, 255, 0.5));
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid purple; }
  .form__input:focus:invalid {
    border-bottom: 4px solid red; }
  .form__input::-webkit-input-placeholder {
    color: grey; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: darkgray; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: orangered;
  color: #fff; }
  .btn--green::after {
    background-color: orangered; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: orangered;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid orangered;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: orangered;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 30rem;
  margin: .5rem 0; }
  .card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: crimson; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, orangered, orange); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, blue, darkblue); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, lightgreen, green); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 2.8rem !important;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #4d1818;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__picture {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url("../img/prepare.jpeg"), linear-gradient(to right bottom, lightgrey, darkgrey), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: url("../img/listen.jpeg"), linear-gradient(to right bottom, lightgreen, darkgreen), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: url("../img/unite.jpeg"), linear-gradient(to right bottom, cyan, magenta), url(../img/nat-7.jpg); }
    .card__picture--4 {
      background-image: url("../img/interpret.jpg"), linear-gradient(to right bottom, cyan, magenta), url(../img/nat-7.jpg); }
    .card__picture--5 {
      background-image: url("../img/fight.jpeg"), linear-gradient(to right bottom, cyan, magenta), url(../img/nat-7.jpg); }
    .card__picture--6 {
      background-image: url("../img/review.jpeg"), linear-gradient(to right bottom, cyan, magenta), url(../img/nat-7.jpg); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid lightgrey; }

.header {
  background-image: url("../img/standing_go.jpeg");
  line-height: 1;
  height: 100vh; }
  .header__verbiage {
    padding: 10rem 50rem 0 10rem; }
  .header__subhead {
    margin: 3rem 0 0 11rem;
    border-top: 1px solid lightblue;
    padding-top: 2rem;
    max-width: 60rem; }

.why {
  padding: 10rem 30rem;
  background-image: linear-gradient(to bottom, #fff, transparent), url("../img/mic__reduced.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  .why img {
    height: 7rem;
    margin: 1rem 0; }
  .why__main {
    display: flex;
    flex-direction: column; }
  .why__intro {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
    background-color: #ed4630; }
  .why__title {
    font-size: 6rem !important; }
  .why__subhead {
    display: flex;
    flex: 0 0 50%; }
  .why__content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 2rem 5rem;
    color: darkslategrey; }
    .why__content__box {
      display: flex;
      justify-content: space-between; }
    .why__content__header {
      display: flex;
      padding: 1rem 0;
      border-bottom: 1px solid grey; }
    .why__content__left {
      display: flex; }
    .why__content__issue {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
      border-radius: 3px; }
      .why__content__issue__issue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .why__content__issue__issue h5 {
          font-size: 2rem !important; }
      .why__content__issue__position {
        font-size: 2.2rem !important;
        font-weight: 300; }
  .why__outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem; }
    .why__outro__title {
      width: 100%;
      padding: 2rem;
      background-color: #ed4630;
      text-align: center; }
    .why__outro__content {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 3rem 5rem;
      color: darkslategray;
      width: 100%; }
      .why__outro__content__body {
        font-size: 1.5rem !important; }

.myJob {
  padding: 5rem 5rem 15rem 5rem;
  background-image: url("../img/image__job.jpeg");
  background-position: center;
  background-size: cover; }
  .myJob:before {
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225); }
  .myJob__header {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 25rem;
    color: darkslategray; }
    .myJob__header__title {
      display: flex;
      justify-content: center;
      background-color: #6c6ea0;
      color: white; }
    .myJob__header__subhead {
      text-align: center;
      padding: 3rem 15rem; }
  .myJob__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 21rem; }
  .myJob__box {
    height: 20rem;
    margin-bottom: 2rem;
    flex: 0 0 30%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    .myJob__box__title {
      display: flex; }

.howWhat {
  padding: 0 20rem 5rem 20rem; }
  .howWhat__intro {
    margin: 5rem 10rem;
    display: flex;
    flex-direction: column; }
    .howWhat__intro__title {
      text-align: center;
      background-color: #6c6ea0;
      color: white; }
      .howWhat__intro__title__verbiage {
        padding: 3rem 0; }
    .howWhat__intro__subhead {
      text-align: center;
      padding: 3rem 15rem;
      color: darkslategray;
      background-color: rgba(255, 255, 255, 0.8); }
  .howWhat__title {
    text-align: center;
    margin-top: 10rem; }
  .howWhat__reason {
    display: flex;
    min-height: 40rem;
    min-width: 30rem; }
  .howWhat__last_one {
    margin-top: -5rem; }
  .howWhat__transparency {
    background-image: url("../img/transparency-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
  .howWhat__engagement {
    background-image: url("../img/Stakeholder-Engagement.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex: 0 0 50%; }
  .howWhat__fundraising {
    background-image: url("../img/fundraising_cut.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
  .howWhat__left {
    flex: 0 0 50%;
    display: flex;
    justify-content: center; }
  .howWhat__right {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10rem;
    font-size: 1.5rem;
    font-weight: 300; }
    .howWhat__right__title {
      font-size: 4rem !important;
      color: #dc4225; }

.petition {
  background-color: orange;
  padding: 10rem; }
  .petition__header {
    padding: 3rem;
    margin: 0 20rem; }
    .petition__header__title {
      background-color: #8FD6F7;
      color: #fff;
      padding: 3rem 5rem; }
    .petition__header__verbiage {
      background-color: rgba(255, 255, 255, 0.4);
      padding: 3rem; }
  .petition__title {
    display: flex;
    justify-content: center; }
  .petition__content {
    padding: 0rem 15rem; }
  .petition__button {
    display: flex;
    justify-content: center; }
    .petition__button button {
      width: 30rem; }

.footer {
  background-color: darkgray;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: lightgray;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
