.container {

}

.header {
    background-image: url('../img/standing_go.jpeg');
    line-height: 1;

    height: 100vh;

    &__verbiage {
        padding: 10rem 50rem 0 10rem;
        
    }

    &__subhead {
        margin: 3rem 0 0 11rem;
        border-top: 1px solid lightblue;
        padding-top: 2rem;
        
        // gotta figure out how to do this correctly... flex-basis? but i'm not flexboxing this sucker yet...
        max-width: 60rem;
    }
}

.why {
    padding: 10rem 30rem;
    // background-image: linear-gradient(to bottom right,#FF2562, #FF2562);    
    background-image: linear-gradient(to bottom, #fff, transparent), url('../img/mic__reduced.jpeg'),  ;
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;   

    img {
        height: 7rem;
        margin: 1rem 0;
        
    }

    &__main {
        display: flex;
        flex-direction: column;
        // background-color: red;
    }
    &__intro {
        flex: 0 0 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 2rem;
        background-color:rgba(237, 70, 48, 1);

    }

    &__title {
        font-size: 6rem !important;

        // -webkit-text-stroke-width: .5px;
        // -webkit-text-stroke-color: rgba(255, 255, 255, 0.336); 
    }

    &__subhead {
        display: flex;
        flex: 0 0 50%;
    }

    &__content {
        background-color: rgba(255,255,255, 0.5);
        border-radius: 3px;
        padding: 2rem 5rem;
        color: darkslategrey;

        &__box {
            display: flex;
            justify-content: space-between;
        }
       
        &__header {
            display: flex;
            padding: 1rem 0;
            border-bottom: 1px solid grey;
            // background-color: grey;
        }

        &__left {
            // flex: 0 0 50%;
            display: flex;
            // justify-content: center;
            // flex-direction: column;
            // text-align: center;
        }


        &__issue {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
            border-radius: 3px;
            // background-color: #f9f9f4

            &__issue {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h5 {
                    font-size: 2rem !important;
                }
            }
            &__position {
                font-size: 2.2rem !important;
                font-weight: 300;
            }

        }
        
        
    }

    &__outro {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 5rem;

        &__title {
            // font-size: 3.5rem !important;
            width: 100%;
            padding: 2rem;
            background-color:rgba(237, 70, 48, 1);
            text-align: center;
        }
        &__content {

            background-color: rgba(255,255,255, 0.5);
            padding: 3rem 5rem;
            // font-family: "Montserrat";
            color: darkslategray;
            width: 100%;

            &__body {
                font-size: 1.5rem !important;
                // font-weight: 00;
            }
            &__body_two {
    
            }
        }
        
    }

}

.myJob {
    padding: 5rem 5rem 15rem 5rem;
    // background-color: #f1f1f1;
    // background-image: linear-gradient(rgba(102, 199, 244, 1), rgba(102, 199, 244, .5)), url('../img/image__job.jpeg');

    background-image: url('../img/image__job.jpeg');
    background-position: center;
    background-size: cover;


    &:before {
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    }

    &__header {
        background-color: rgba(255,255,255, 0.2);
        margin: 0 25rem;
        color: darkslategray;

        &__title {
            display: flex;
            justify-content: center;
            background-color: rgba(108, 110, 160, 1);
            color: white;
            
        }
    
        &__subhead {
            text-align: center;
            padding: 3rem 15rem;    
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5rem 21rem;
    }

    &__box {
        height: 20rem;
        margin-bottom: 2rem;
        flex: 0 0 30%;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;

        background-color: rgba(255,255,255,.7);
        box-shadow: 0 5px 10px rgba(0,0,0,.5);



        &__title {
            display: flex;
            // padding: 2rem;
            
            // justify-content: center;
            // align-items: center;
            // background-color: blue;
            
        }
        
        &__content {
            // padding: 1rem;
            // display: flex;
            // justify-content: flex-end;
        }
    }
}

.howWhat {

    padding: 0 20rem 5rem 20rem;


    &__intro {
        margin: 5rem 10rem;
        display: flex;
        flex-direction: column;

        &__title {
            text-align: center;
            background-color: rgba(108, 110, 160, 1);
            color: white;
            
            &__verbiage {
                padding: 3rem 0;
            }
        }
    
        &__subhead {
            text-align: center;
            padding: 3rem 15rem;
            color: darkslategray;

            background-color: rgba(255,255,255, 0.8);
    
        }
    }


    &__title {
        text-align: center;
        margin-top: 10rem;
    }

    &__reason {
        display: flex;
        min-height: 40rem;
        min-width: 30rem;   
    }

    &__last_one {
        margin-top: -5rem;
    }

    &__transparency {
        background-image: url('../img/transparency-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        // &::before {
        //     content: "Transparency";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: rgba(255, 255, 255, 0.7);
        //     width: 100%;
        //     height: 100%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     font-size: 5rem;
        //     font-family: 'Open sans', sans-serif;
        //     color: orangered;
        // }

        
        // &__verbiage {
        //     position: absolute;
        //     top: 50%;
        //     background-color: rgba(255,255,255, .4);
        //     padding: 5rem;
        //     transform: translatex(-50);
        // }
    }

    &__engagement {
        background-image: url('../img/Stakeholder-Engagement.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex: 0 0 50%;


        // &::before {
        //     content: "Engagement";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: rgba(255, 255, 255, 0.7);
        //     width: 100%;
        //     height: 100%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     font-size: 5rem;
        //     font-family: 'Open sans', sans-serif;
        //     color: orangered;
        // }
    }
    

    &__fundraising {
        background-image: url('../img/fundraising_cut.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        // &::before {
        //     content: "No Fundraising";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: rgba(255, 255, 255, 0.7);
        //     width: 100%;
        //     height: 100%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     font-size: 5rem;
        //     font-family: 'Open sans', sans-serif;
        //     color: orangered;
        // }
    }

    &__left {
        // background-color: orangered;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
    }

    &__right {
        // background-color: greenyellow;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10rem;
        font-size: 1.5rem;
        font-weight: 300;

        &__title {
            font-size: 4rem !important;
            color: #dc4225;
        }
    }  


}

.petition {
    background-color: orange;
    padding: 10rem;



    &__header {
        padding: 3rem;
        margin: 0 20rem;

        &__title {
            background-color: #8FD6F7;
            color: #fff;
            padding: 3rem 5rem;
        }

        &__verbiage {
            background-color: rgba(255,255,255,.4);
            padding: 3rem;
        }
    }
    
    // display: flex;
    // flex-direction: column;
    &__title {
        display: flex;
        justify-content: center;
    }
    &__content {
        padding: 0rem 15rem;
    }

    &__button {
        display: flex;
        justify-content: center;

        button {
            width: 30rem;
        }
    }


}

.footer {
    background-color: darkgray;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        // font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: lightgray;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}

// &__one {
            
//     background-image: url('../img/transparency-2.jpg');
//     background-size: contain;
//     background-repeat: no-repeat;
// }
// &__two {
    
//     background-image: url('../img/Engagement-Sam-blog-10th-June-2015-760x665.jpg');
//     background-size: contain;
//     background-repeat: no-repeat;
// }
// &__three {
    
//     background-image: url('../img/fundraising.jpg');
//     background-size: contain;
//     background-repeat: no-repeat;
// }



// .content {
//     display: flex;
// }

