h1 {
    font-size: 6rem !important;
    font-weight: 700;
    // box-shadow: 0, 5px, 5px, rgba(0,0,0, .5);
}

h2 {
    font-size: 5rem !important;
    font-weight: 900;
    // color: orangered;
    // box-shadow: 0, 5px, 5px, rgba(0,0,0, .5);
}

h3 {
    font-size: 4rem !important;
    font-weight: 300;
}

h4 {
    font-size: 3rem !important;
    font-weight: 400;
}

h5 {
    font-size: 1.5rem !important;
    font-weight: 300;
}

h6 {
    font-size: 1.25rem !important;
    font-weight: 100;
}